.logo{
    width: 100px; 
height:100px; 
margin-right: 10px;

}
.finir{
    text-align: center;

}

.app3{
    background-color: paleturquoise;
    font-stretch: extra-expanded;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}
.presentation8{
    text-align: center;

}

.presentation9{
text-align: center;
}
.presentation10{
    text-align: center;

}